<body>
    <header>
        <div class="main">
            <a href="/" id="lienLogo">
                <img src="assets/img/colibris.png">
            </a>
            <!-- logo -->
            <div>
                <a href="/docu_recherche" title="Chercher une série dans l'application">
                    <img class='svg1' src="assets/img/search.svg">
                </a>
                <a href="docu_echange" title="Gestion des requètes">
                    <img class='svg1' src="assets/img/comments.svg">
                </a>
                <a href="docu_addSerie" title="Ajouter une série">
                    <img class='svg1' src="assets/img/plus-square.svg">
                </a>
                <a href="docu_gestionSerie" title="Séries proposer par mon collège">
                    <img class='svg1' src="assets/img/book.svg">
                </a>
                <a href="parametre.html" title="Paramètres">
                    <img class='svg1' src="assets/img/cog.svg">
                </a>
                <a href="accueil.html" title="Déconnexion">
                    <img class='svg1' src="assets/img/sign-out-alt.svg">
                </a>
            </div>
        </div>
    </header>